.SaveMailPage {
  background-color: white;
  height: 100svh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header {
  text-align: center;
  display: flex;
  width: 100%;
  margin-top: 10%;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 40px;
}
.paragraph {
  display: flex;
  font-size: 18px;
  color: rgb(176, 172, 172);
}

.SaveMailPage h2 {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  color: #e7407d;
  animation: showNoti linear;
}

.SaveMailPage section {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.SaveMailPage form {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* position: fixed; */
  margin-top: 10px;
}
.SaveMailPage input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  font-weight: 500;
  border-bottom: 2px solid gray;
}
.SaveMailPage input:focus {
  outline: none;
}

.sendBottomColor {
  width: 100%;
  border-radius: 26px;
  font-size: 18px;
  height: 40px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  box-shadow: 0 4px 2px -2px gray;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: auto;
}

@keyframes showNoti {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 500px) {
  .SaveMailPage {
    justify-content: center;
  }
  .SaveMailPage section {
    width: 40%;
  }

  .header {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
  }
  .paragraph {
    display: flex;
    font-size: 18px;
    color: rgb(176, 172, 172);
  }

  .SaveMailPage section {
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  .SaveMailPage input {
    height: 30px;
    font-size: 18px;
  }

  .sendBottomColor {
    width: 50%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
  }

  .sendBottomColor:hover {
    cursor: pointer;
  }

  .SaveMailPage form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    /* position: fixed; */
    margin-top: 10px;
  }

  .linkButton {
    display: flex;
    justify-content: center;
  }
}
