.SaveMailPage {
  background-color: white;
  height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.backButton {
  position: fixed;
  border: none;
  background-color: transparent;
}
.header {
  text-align: center;
  display: flex;
  width: 100%;
  margin-top: 10%;
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 40px;
}
.paragraph {
  display: flex;
  font-size: 18px;
  color: rgb(176, 172, 172);
}
.SearchBar {
  display: flex;
  /* position: fixed; */
  margin-top: 5%;
}
.SearchBar input {
  width: 130%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid gray;
}
.SearchBar input:focus {
  outline: none;
}
.sendBottomColor {
  width: 80%;
  border-radius: 26px;
  height: 40px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  box-shadow: 0 4px 2px -2px gray;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: auto;
}
.sendBottomGray {
  width: 80%;
  border-radius: 26px;
  height: 40px;
  background-color: gray;
  box-shadow: 0 4px 2px -2px gray;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: auto;
}
