.questionsContainer {
  height: 100svh;
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

@media (min-width: 500px) {
  .questionsContainer {
    height: clac(100vh - 40px);
    padding: 0;
  }
}
