.instructionPage {
  background-color: white;
  height: 100svh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.instructionPage header {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

.instructionPage section {
  margin: auto 0;
}

.instructionPage img {
  height: 45px;
}

.instructionPage h1 {
  font-size: 24px;
}

.instructionPage ul {
  width: 100%;
  margin: 0;
  list-style: none;
}

.instructionPage li {
  margin-bottom: 20px;
}

.instructionPage li div {
  display: flex;
}

.instructionPage h3 {
  font-size: 18px;
  color: rgb(88, 86, 86);
}
.instructionPage p {
  font-size: 16px;
  color: gray;
}

.instructionPage a {
  text-decoration: none;
  width: 100%;
}

.instructionPage button {
  width: 100%;
  height: 40px;
  border-radius: 26px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  margin-top: auto;
  margin-bottom: 20px;
  text-decoration: none;
}

.instructionPage button:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  .instructionPage {
    height: clac(100vh - 40px);
    width: 300px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    padding: 0;
  }

  .instructionPage header {
    margin-bottom: 20px;
  }
  .instructionPage li div {
    display: flex;
    align-items: center;
  }

  .instructionPage h1 {
    font-size: 18px;
  }

  .instructionPage h3 {
    font-size: 12px;
  }
  .instructionPage p {
    font-size: 12px;
  }

  .instructionPage a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
  }

  .instructionPage button {
    width: 70%;
    height: 30px;
    font-size: 12px;
  }
}
