.profilePagecontainer {
  height: calc(100svh - 10px);
  margin-bottom: 10px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.swipeArea {
  z-index: 2;
}

@media (min-width: 500px) {
  .profilePagecontainer {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
