.topBar {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBar img {
  height: 30px;
  width: 30px;
}

.topBar h1 {
  font-size: 24px;
  margin-left: 5px;
  background: linear-gradient(45deg, #fd267a, #ff6036);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
