.SingleQuestionPage {
    text-align: center;
    align-items: center; 
    justify-content: flex-start;
    
}
.SingleQuestionPage img{
    height: 47px;
}
.SingleQuestionPage header{
    text-align: left;
    padding-top: 15%;
    padding-left: 20%;
    display:flex;
}


.SubmitAnswer{
    width: 80%;
    border-radius: 26px;
    height: 40px;
    background-image: linear-gradient(to right, #e7407d, #ef805e);
    color: white;
    font-weight: bold;
    border: none;
    display: block;
    position: absolute;
    bottom: 10px;
    left:10%;
    text-align: center;

    
}
.proggresBar{
    width: 100%;
    height: 5px;
    background-color: white;
    margin-bottom: 20px;
    overflow: hidden;
}

.proggresBarFill{
    height: 100%;
    background-image: linear-gradient(to top right, #e7407d, #ef805e);
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    width: 50%;
}

.SingleQuestionPage ul{
    list-style-type: none;
    max-width: 100%;
    overflow-y: auto;
    gap: 15px;   
    display: flex;
    position: relative;
    padding-left: 23%;
    padding-top: 20%;
    flex-direction: column; 
    margin-bottom: 20px;
}

.Deactive{
    box-sizing: border-box;
    border: 1px solid #B0B0B0;
    border-radius: 25px;
    width: auto;
    max-width: 70%;
    align-items: center;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.Active{
    box-sizing: border-box;
    border: 1px solid;
    border-color: #e7407d;
    border-radius: 25px;
    width: auto;
    max-width: 70%;
    align-items: center;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}
.backButton{
    border:none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left:10px;
    font-size: large;
    display: flex;
}
