.startingPage {
  background-image: linear-gradient(to top right, #e7407d, #ef805e);
  height: 100vh;
}

.startingPage a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startingPage header {
  display: flex;
  align-items: center;
}

.startingPage h1 {
  font-size: 36px;
  color: white;
  margin-left: 10px;
}

.startingPage img {
  height: 45px;
}
