.StartingPage{
    background-image: linear-gradient(to top right, #e7407d, #ef805e);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.StartingPage header{
    display: flex;
    align-items: center;
}

.StartingPage h1{
    color: white;
} 

.StartingPage img{
    height: 32px;
}
