.qrPage {
  background-image: linear-gradient(to top right, #e7407d, #ef805e);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.emptyWrapper {
  width: 100%;
  height: 250px;
}

.qrPage header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrPage img {
  height: 45px;
}

.qrPage h1 {
  font-size: 36px;
  color: #fff;
  margin-left: 10px;
}

.qrWrapper {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qrPage p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.grPage canvas {
  height: 100%;
  width: 100%;
}
