.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    overflow-y: auto;
    height: 400px;
    gap: 5px;
}

.list_item {
    width: calc(100% / 3 - 20px);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #B0B0B0;
    border-radius: 40px;
    list-style-type: none;
    text-align: center;
    font-size: x-large;
    color: #B0B0B0;
}
.selected{
    border: 1px solid #FF6B6B;
    color: #FF6B6B;
    width: calc(100% / 3 - 20px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 40px;
    list-style-type: none;
    text-align: center;
    font-size: x-large;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}
.title{
    font-size: 50px;
    text-align: center;
}
.text{
    font-size: 20px;
    word-break: normal;
    text-align: left;
    color:#B0B0B0;
}

.progress_bar_container {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.head{
    margin: 10px 0 0 10px;
}

.progress_bar_fill {
    height: 100%;
    background-image: linear-gradient(to top right, #e7407d, #ef805e);
    border-radius: 10px;
    width: 75%;
    transition: width 0.3s ease-in-out;
}

.icon {
    order: 0;
    position: fixed;
    left: 10%;
    font-size: xx-large;
}

.large_button {
    display: block;
    width: 65%;
    padding: 20px;
    font-size: xx-large;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to top right, #e7407d, #ef805e);
    color: white;
    text-align: center;
    text-decoration: none;
}
.disabled_large_button {
    display: block;
    width: 65%;
    padding: 20px;
    font-size: xx-large;
    border: none;
    border-radius: 20px;
    background-color: #f1f1f1;
    color: white;
    text-align: center;
    text-decoration: none;
}