.progress_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  display: flex;
  background-color: #f1f1f1;
  overflow: hidden;
}

.progress_bar_fill {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to top right, #e7407d, #ef805e);

  transition: width 0.3s ease-in-out;
}

.container {
  height: 100vh;
  padding: 0px 40px 40px 20px;
  display: flex;
  flex-direction: column;
}

.head {
}

.title {
  font-size: 50px;
  margin-bottom: 20px;
}
.text {
  font-size: 18px;
  word-break: normal;
  text-align: left;
  color: #b0b0b0;
}

.list {
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.list_item {
  padding: 5px 10px;
  border: 1px solid #b0b0b0;
  border-radius: 30px;
  list-style-type: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #b0b0b0;
}

.list_item_active {
  color: #ff6b6b;
  border-color: #ff6b6b;
}

.selected {
  border: 1px solid #ff6b6b;
  color: #ff6b6b;
  width: calc(100% / 3 - 20px);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 40px;
  list-style-type: none;
  text-align: center;
  font-size: x-large;
}

.large_button {
  height: 40px;
  width: 100%;
  margin-top: auto;
  font-size: 18px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  color: white;
  border-radius: 26px;
  border: none;
  font-weight: 500;
}

.large_button:focus {
  outline: none;
}

/* .disabled_large_button {
  display: block;
  width: 65%;
  padding: 20px;
  font-size: xx-large;
  border: none;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: white;
  text-align: center;
  text-decoration: none;
} */
