.match {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  animation: match 0.4s;
  animation-fill-mode: forwards;
}

.submitAnswear {
  height: 40px;
  width: 70%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  color: white;
  border-radius: 26px;
  border: none;
  font-weight: 500;
  z-index: 5;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  animation: overlay 0.6s;
  animation-fill-mode: forwards;
  border-radius: 20px;
}

@keyframes overlay {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.363);
  }
}

@keyframes match {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}
