.missedPair {
  height: auto;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -30px);
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  z-index: 4;
  animation: banner 0.5s linear;
}

.textWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #fff;
}

.textWrapper h3 {
  font-size: 15px;
  font-weight: 600;
}
.textWrapper h4 {
  font-size: 12px;
  font-weight: 400;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  animation: overly 0.6s;
  animation-fill-mode: forwards;
  border-radius: 20px;
}

.submitAnswear {
  height: 40px;
  width: 70%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  background-image: linear-gradient(to right, #e7407d, #ef805e);
  color: white;
  border-radius: 26px;
  border: none;
  font-weight: 500;
  z-index: 5;
}

@keyframes banner {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overly {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.363);
  }
}
