.sticker {
  width: 120px;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  animation: showSticker 0.2s linear;
}

.like {
  top: 80px;
  left: 20px;
  transform: rotate(-10deg);
  border-color: #7cfda3;
  color: #7cfda3;
}

.nope {
  top: 80px;
  right: 20px;
  transform: rotate(10deg);
  border-color: #ff4458;
  color: #ff4458;
}

@keyframes showSticker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
